.logo {
    float: right;
    margin-right: 15pt;
    margin-top: 15pt;
    width: 220pt;
    height: 45pt;
    background-image: url("../../images/Logo_DB_Schenker.svg.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.no-boarder {
    border: none !important;
    box-shadow: none !important;
}

.container {
    border: solid !important;
    border-color: black !important;
}